* {
    margin: 0 auto;
    padding: 0;
    background: #F8F8F8;
    color: #222222;
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
}

#info {
    width: 60%;
    margin: 20px auto;
    text-align: center;
    
}

#location, #temp {
    font-size: 2em;
}

#wind {
    text-align: right; 
}

.forecast {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}

.forecast-list {
    display: block;
    max-width: 700px;
    margin: 0 auto -40px;
    border-bottom: 2px ridge;
}

.item {
    display: inline-block;
}

#day {
    width: 80px;
    text-align: left;
    margin-right: 5%
}

.item canvas{
    margin-left: 50%;
}

#max {
    font-size: 1.2em;
    margin-left: 20%;
}

#min {
    color: gray;
}

span {
    margin-left: 10px;
}


.box {
    border-bottom: 2px ridge;
    margin: 45px auto -40px;
    width: 90%;
    line-height: 1.4em;
}
.box li {
    font-size: .75em;
    display: inline-block;
    width: 45%;
    background-color: white;
    border: 2px inset white;
    margin: 3px 1px;
    border-radius: 5%;
}

.box li:nth-child(4){
    width: 91%;
}
.hide {
    display: none;
}